.container-fluid{
    background-color: rgb(236, 235, 249);
    height:auto;
}

.card{
    border-radius: 16px;
}

p{
    color:rgba(80,80,80, 1.0)
}

.mycard-wrapper{
    position:relative;
    width: 100%;
    height:100%;
    border-radius: 16px;
}

.cardscover{
    z-index: 1000;
    background-color: rgba(100, 100,100, 0.5);
    position:absolute;
    width:100%;
    height:100%;
    border-radius: 16px;
}

.mycards{
    z-index:100;
    width: 100%;
    height:100%;
}

.player-name{
    margin-top:1rem;
    margin-left:1rem;
    color:rgba(241, 238, 244, 1.0)
}

.header{
    background-color: rgba(139, 126, 152, 1.0);
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.3);
}
